@import "tailwindcss";

@theme {
  --color-brand: #d0464d;
  --color-brand-dark: #a13136;
}

@layer utility {
  .type-title {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
  }

  .type-nav {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  }

  .type-nav-bold {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
  }

  .type-nav-small {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
  }
}

@layer base {
  body {
    @apply bg-neutral-50;
  }
}

@layer components {
  .brand-button {
    @apply text-neutral-50 rounded-2xl bg-linear-to-t from-brand-dark to-brand drop-shadow-xl/25 drop-shadow-brand-dark;
  }
}
